* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 1.2;
}

.invisible {
  display: none;
}

body {
  color: #000000;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background: white;
}

main {
  max-width: 90rem;
  margin: 0 auto;
}

section {
  position: relative;
  height: 100vh;
  min-height: 38rem;
  max-height: 76rem;
}

.butler_light {
  font-family: 'Butler', 'Times New Roman', Times, serif;
  font-weight: 300;
}

.huge_header {
  font-size: 5.4rem;
}

.centered_text {
  text-align: center;
}

.uppercase_text {
  text-transform: uppercase;
}

.bold_text {
  font-weight: 700;
}

.section_header {
  font-weight: 700;
  font-size: 1.1rem;
}

.medium_text {
  font-weight: 500;
  font-size: 1.1rem;
  color: #636363;
}

.quote_text {
  font-family: 'Butler', 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: 2rem;
}

.list_header_text {
  font-size: 5.75rem;
}

.list_text {
  font-size: 2.1rem;
}

.about_image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 66.6rem;
  max-height: 39.4rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.about_text_background {
  position: absolute;
  display: inline-block;
  background-color: white;
  padding: 1.5em 0.8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_main_header {
  text-align: center;
  font-size: 1em;
}

.about_subheader {
  text-align: center;
  margin: 0.8em 0 -2em;
}

.biography_section {
  margin: 8.4rem;
}

.biography_header {
  top: 94%;
  left: 100%;
  transform: rotate(0.75turn);
  position: absolute;
}

.biography_image {
  float: left;
  width: 50%;
  height: 100%;
  padding-right: 5%;
}

.biography_text {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding-top: 20%;
  padding-left: 5%;
}

.biography_padding {
  padding-top: 3rem;
}

.biography_rectangle {
  margin-top: 3rem;
  width: 0.9rem;
  height: 0.25rem;
}

.biography_quote_text {
  margin-top: 2rem;
  width: 80%
}